.env

charon.yml
charon
.charon/cluster/
split_keys/

cluster_definition.json
cluster_lock.json

p2pkey
keystore*

docker-compose.override.yml


vc-clients/lighthouse/validators/
vc-clients/teku/validator/
vc-clients/teku/logs/
vc-clients/nimbus/node-nimbus/